*{
    margin: 0;
    
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-link {
    text-decoration: none;
    color: white;
}
.submenu, .menu-item-2{
    display: inline-block;
}
.image-central{
    padding: 20px;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: relative;
    top:0;
}

.menu-item > .submenu{
    display: flex;
    position: absolute;
}
.submenu{
    visibility: hidden;
    background-color: black;
    top:calc(100% + 6px);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 7;
    transition: 0.5s;
}
.menu > .menu-item:hover .submenu{
    visibility: visible;
    top: 100%;
    opacity: 1;
}
.menu-link:hover{
    color: #1786bd;
}
.submenu > .menu-item{
    padding:10px;
    position: relative;
}

.menu-item{
    padding: 20px;
}
#a{
    width: 180px;
    height: 180px;
    padding:0;
    background-color: black;
    z-index:3;
    border-radius: 100%;
    display:flex;
    align-items: center;
    top: -38px;
    left: -70px;
    overflow: hidden;
    position: absolute;
}
#c{
    width: 180px;
    background-color: black; 
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform .5s ease;
    position: absolute;
    top: 3px;
}
#c:hover{
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
 }
.item-menu-2{
    font-size:20px;
    color: white;
 }
#s{
    position: relative;
}
.quadrado1{
    width: 40px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: calc(100% + 1px);
    left:84px;
    z-index: 5;
    border-radius: 20px;
    -webkit-transform: scale(0.08);
    transform: scale(0.08);
}
.quadrado2{
    width: 40px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: calc(100% + 1px);
    left:-84px;
    z-index: 6;
    border-radius: 20px;
    -webkit-transform: scale(0.08);
    transform: scaleX(-1) scale(0.08);
}
#image-background{
    width: 100%;
    position: absolute;
    bottom: -20px;
}
#background-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
}
main{
    flex:1;
    display: flex;
    justify-content: center;
    position:relative;
}
#pagina{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.header{
    display: block;
}
.footer-inner{
    height: 30px;
    color: white;
    display: flex;
    align-items: center;   
}
.login-button{
    height: 40px;
    width: 120px;
    position: absolute;
    margin: 80px;
    background-color: black;
    color:white;
}
.login-button:hover{
    filter: blur(1px);
    filter: drop-shadow(0 0 0.75rem #1786bd);
    color: #1786bd;
}
#login{
    top:25%;
    position: absolute;
    display:flex;
    height: auto;
    align-self: center;
    justify-self: center;
    color: blue;
    z-index: 4;
}


.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width:280px;
    opacity: 100%;
    left: 50%;
    position:sticky;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-left: -5px;
}

.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit{
    width: 100%;
    height: 40px;
    background-color: #a13854;
    border:none;
    color:#e1e1e1;
    margin: 10px 0;
}

.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}